@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Css/reset.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/mainLayout.css")" rel="stylesheet" />
</head>
<body>
    <nav>
        <a href="@Url.Action("StaticContent","Home", new { viewname = "sklep" })">Sklep</a>
        <a href="@Url.Action("StaticContent","Home", new { viewname = "biblioteka" })">Biblioteka</a>
    </nav>
    <div class="empty"></div>

    <div>
        @RenderBody()
    </div>

    <footer>
        @*<a href="@Url.Action("StaticContent","Home", new { viewname = "onas" })">O nas</a>
        <a href="@Url.Action("StaticContent","Home", new { viewname = "regulamin" })">Regulamin</a>
        <a href="@Url.Action("StaticContent","Home", new { viewname = "kontakt" })">Kontakt</a>*@
    </footer>

    @RenderSection("ScriptsBottom", required: false)

</body>
</html>
